<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<h1>Admin page</h1>
<hr/>
<br/>
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>ROLE</th>
        <th colspan="2">optional</th>
    </tr>

    <tr th:each="u : ${users}">

        <td th:text="${u.getId()}">текущее id</td>
        <td th:text="${u.getUsername()}">текущее имя</td>
        <td>
            <span th:each="role : ${u.roles}" th:text="${role.name}">
            текущая роль
        </span>
        </td>

        <td>
            <form th:action="@{'admin/edit/' + ${u.getId()}}">
                <button type="submit">update</button>
            </form>

        <td>
            <form th:method="POST" th:action="@{'admin/delete/' + ${u.getId()}}">
                <button type="submit">delete</button>
            </form>
        </td>
    </tr>
</table>
<hr/>
<form th:method="post" th:action="@{/logout}">
    <input type="submit" value="logout">
</form>
</body>
</html>