<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<h1>Update User</h1>
<hr/>
<br/>
<form th:method="POST" th:action="@{/admin/update}" th:object="${user}">

    <input type="hidden" th:field="*{id}" th:value="${user.getId()}"/>

    <label for="name">Enter name: </label>
    <input type="text" th:field="*{username}" id="name"/>
    <br/>

    <label for="role">Select role: </label>
    <select th:field="*{roles}" id="role" >
        <option value="1" th:selected="${user.roles.contains('ROLE_ADMIN')}">ROLE_ADMIN</option>
        <option value="2" th:selected="${user.roles.contains('ROLE_USER')}">ROLE_USER</option>
    </select>
    <br/>

    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>

    <input type="submit" value="Create!"/>

</form>
</body>
</html>